@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
  text-align: center;
  overflow: auto;
}

.header {
  background-color: #1f2937;
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  padding-left: 100px;
  padding-right: 100px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding: 8px 16px;
  cursor: pointer;
}

a {
  color: #e5e7eb;
  text-decoration: none;
}

ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 16px;
  align-items: center;
}
 
.content {
  flex: 1;
  display: flex;
  padding-left: 100px;
  padding-right: 100px;
  color: #e5e7eb;
  text-align: left;
  padding-top: 50px;
  padding-bottom: 80px;
  background-color: #1f2937;
}

.project-logo {
  padding-left: 20px;
}

button {
  color: #e5e7eb;
  background-color: #3882f6;
  margin-top: 10px;
}

.header-title {
  font-size: 48px;
  font-weight: 900;
}

.title {
  font-size: 36px;
  font-weight: 900;
  color: #1f2937;
  margin-top: 40px;
  margin-bottom: 30px;
}

.container {
  display: flex;
  justify-content: center;
  gap: 40px;
  padding-bottom: 80px;
}

.info {
  max-width: 125px;
}

.info-img {
  width: 125px;
  height: 125px;
  border-radius: 10px;
}

.quote-box {
  background-color: #e5e7eb;
  font-size: 36px;
  font-weight: 300;
  color: #1f2937;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-top: 100px;
  padding-bottom: 100px;
  padding-left: 125px;
  padding-right: 125px;
}

.quote {
  text-align: left;
  font-style: italic;
}

.author {
  text-align: right;
  font-size: 24px;
  font-weight: 600;
}

.modal-container {
  display: flex;
  background: #3882f6;
  border-radius: 5px;
  margin-top: 60px;
  margin-bottom: 60px;
  margin-left: 60px;
  margin-right: 60px;
}

.modal {
  display: flex;
  flex-direction: column;
  color: #f9faf8;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 60px;
  padding-right: 60px;
}

.modal-title {
  font-size: 20px;
  font-weight: bolder;
  text-align: left;
}

button.sign-up {
  background: #3882f6;
  border: 1px solid #e5e7eb;
  color: white;
  display: flex;
  border-radius: 4px;
  flex-shrink: 0;
  align-self: center;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 25px;
  padding-right: 25px;
  margin-left: 40px;
}

.footer {
  font-size: 12px;
  background: #1f2937;
  color: #e5e7eb;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 30px;
  padding-bottom: 30px;
}